<mat-form-field appearance="fill">
  <mat-label>Filter by key or value</mat-label>
  <input
    matInput
    type="text"
    [formControl]="filterControl"
    (keyup)="onFilterChange()"
  />
  <button
    matSuffix
    mat-icon-button
    *ngIf="filterControl.value"
    matTooltip="Clear"
    matTooltipPosition="after"
    (click)="onFilterReset()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="filterControl.hasError('minlength')">
    Filter not applied. Needs at least {{ FILTER_MIN_LEN }} characters.
  </mat-error>
</mat-form-field>

<button
  mat-icon-button
  color="primary"
  matTooltip="Add"
  matTooltipPosition="after"
  (click)="onAdd()"
>
  <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource">
  <!-- all columns -->
  <ng-container *ngFor="let col of tableColumns" [matColumnDef]="col.colKey">
    <th mat-header-cell *matHeaderCellDef>{{ col.colLabel }}</th>
    <td mat-cell *matCellDef="let row" [ngSwitch]="col.rowKeys.length">
      <span *ngSwitchCase="1">
        {{ (row.modified ?? row.data)[col.rowKeys[0]] }}
      </span>
      <span *ngSwitchCase="2">
        {{ (row.modified ?? row.data)[col.rowKeys[0]] }}:
        {{ (row.modified ?? row.data)[col.rowKeys[1]] }}
      </span>
    </td>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <div class="flex-container">
        <div class="flex-item">
          <button
            mat-mini-fab
            matTooltip="Update"
            matTooltipPosition="after"
            (click)="onUpdate(i)"
          >
            <mat-icon>update</mat-icon>
          </button>
        </div>
        <div class="flex-item" [ngSwitch]="row.state">
          <button
            mat-mini-fab
            matTooltip="Undo"
            matTooltipPosition="after"
            *ngSwitchCase="'added'"
            (click)="onRemove(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-mini-fab
            matTooltip="Delete"
            matTooltipPosition="after"
            *ngSwitchCase="'altered'"
            (click)="onRevert(i)"
          >
            <mat-icon>undo</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- [rows] -->
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>

<mat-paginator
  #paginator
  [length]="rowLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="PAGE_SIZE_OPTIONS"
  [pageIndex]="pageIndex"
  (page)="onPageUpdate($event)"
  showFirstLastButtons
>
</mat-paginator>
